body {
    background-color: #C8B6E2;
}
h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #EB1D36;
    font-size: 20px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}
.her {
    position: relative;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    outline: none;
    border-radius: 4px;
    border: 1px solid #C8B6E2;
    color: #EB1D36;
    font-size: 15px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    width: 50%;
    margin: 30px 350px;
}